/* You can add global styles to this file, and also import other style files */

html,
body {
  background-color:black;
  background-position: center; 
  text-align: center;
  font-family: sans-serif;
  color:white;
}
  .logo {
  padding: 75px;
  padding-bottom: 5px;
  text-align: center;
  background: white
  color: white;
  font-size: 55px;
  font-family: arial;
}
.Home {
  padding: 0px;
  text-align: center;
  background: white
  color: white;
  font-size: 30px;
  word-spacing: 125px;
  font-family: arial;
}





.navbar {
  overflow: hidden;
  background-color: #333;
}
.navbar a {
  float: left;
  font-size: 18px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}





.bg-image {
  /* The image used */
  background-image: url("https://assets.bigcartel.com/theme_images/48087272/graffiti_gary.jpg?auto=format&fit=max&h=1400&w=2000");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(4px);

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}





* {
  box-sizing: border-box;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 15px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width:600px) {
  .column {
    width: 100%;
  }
}


.media a{
color:white;
}